<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>List Your Property</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic Info" formGroupName="BasicInfo"> <!--ngModelGroup="BasicInfo" #BasicInfo="ngModelGroup"> -->
                <div class="form-group col-12">
                  <p>I want to</p>
                  <div class="btn-group" btnRadioGroup formControlName="SellRent">
                    <label for="" class="btn btn-outline-primary mr-2" btnRadio=1 role="button" name="SellRent" tabindex="0">Sell</label>
                    <label for="" class="btn btn-outline-primary" btnRadio=2 role="button" name="SellRent" tabindex="0">Rent</label>
                  </div>
                  <div class="error-block" *ngIf="SellRent.invalid && NextClicked">
                    Please Select Sell or Rent
                  </div>
                </div>


                <div class="form-group col-12">
                  <p>BHK</p>
                  <div class="btn-group" btnRadioGroup formControlName='BHK' [(ngModel)]="propertyView.BHK">
                    <!--[ngModelOptions] = "{standalone: true}"-->
                    <label *ngFor="let bhk of bhkSize" class="btn btn-outline-primary mr-2" [btnRadio] = "bhk" role="button" name="BHK" tabindex="0">{{bhk}}</label>

                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup formControlName='PType' [(ngModel)]="propertyView.PType">
                    <label *ngFor="let ptype of propertyTypes" class="btn btn-outline-primary mr-2 lblPtype" [btnRadio] = "ptype" role="button" name="PType" tabindex="0">{{ptype}}</label>

                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Furnish Type</p>
                  <div class="btn-group" btnRadioGroup formControlName='FType' [(ngModel)]="propertyView.FType">
                    <label *ngFor="let ftype of furnishTypes" class="btn btn-outline-primary mr-2" [btnRadio] = "ftype" role="button" name="FType" tabindex="0">{{ftype}}</label>

                  </div>
                </div>

                <div class="form-group col-12">
                  <label>in Building/Society/Project</label>
                  <input type="text" class="form-control" formControlName="Name" [(ngModel)]="propertyView.Name">
                  <!--#propName="ngModel"<span *ngIf="!propName.valid && propName.touched" class="error-block">
                    <span *ngIf="propName.errors?.required">Please provide name</span>
                    <span *ngIf="propName.errors?.minlength">Name must be atleast 5 char long</span>
                  </span>-->
                </div>

                <div class="form-group col-12">
                  <label>City</label>
                  <select type="text" class="form-control" formControlName="City" [(ngModel)]="propertyView.City">
                    <option value="">--Select City--</option>
                    <option *ngFor="let city of cityList" value="{{city.id}}">
                      {{city.name}}
                    </option>
                  </select>
                  <div class="error-block" *ngIf="City.invalid && (NextClicked || City.touched)">Please Select City</div>
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1, BasicInfo.valid)">Next</button> <!--[disabled]="!BasicInfo.valid"-->
                </div>
              </tab>

              <tab heading="Pricing and Area" formGroupName="PriceInfo">
                <div class="form-group col-12">
                  <label *ngIf="SellRent.value==1">Price (in GBP)</label>
                  <label *ngIf="SellRent.value==2">Rent (in GBP)</label>
                  <input type="text" class="form-control" formControlName='Price' [(ngModel)]="propertyView.Price">
                  <div class="error-block" *ngIf="Price.invalid && (NextClicked || Price.touched)">
                    Please Enter
                    <span *ngIf="SellRent.value==1"else ShowRent>Sell Price</span>
                    <ng-template #ShowRent>Rent Price</ng-template>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Security (in GBP)</label>
                  <input type="text" class="form-control" formControlName="Security">
                </div>

                <div class="form-group col-12">
                  <label>Maintenance (in GBP)</label>
                  <input type="text" class="form-control" formControlName="Maintenance">
                </div>

                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input type="text" class="form-control" formControlName='BuiltArea' [(ngModel)]="propertyView.BuiltArea">
                </div>

                <div class="form-group col-12">
                  <label>Carpet Area(in Sqr Feet)</label>
                  <input type="text" class="form-control" formControlName="CarpetArea">
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(2, BasicInfo.valid)">Next</button>

                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(0, BasicInfo.valid)">Back</button>
                </div>
              </tab>

              <tab heading="Address" formGroupName="AddressInfo">

                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="text" class="form-control" formControlName="FloorNo">
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="text" class="form-control" formControlName="TotalFloor">
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="Address">
                </div>

                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input type="text" class="form-control" formControlName="Landmark">
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(3, BasicInfo.valid)">Next</button>

                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(1, BasicInfo.valid)">Back</button>
                </div>
              </tab>

              <tab heading="Other Details" formGroupName="OtherInfo">

                <div class="form-group col-12">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup formControlName="RTM">
                    <label for="" class="btn btn-outline-primary mr-2" btnRadio=1 role="button" name="RTM" tabindex="0">Yes</label>
                    <label for="" class="btn btn-outline-primary" btnRadio=2 role="button" name="RTM" tabindex="0">No</label>
                  </div>
                </div>

                <div class="form-group col-3">
                  <label>Possession/Avaialble From</label>
                  <!-- <input type="date" class="form-control"> -->
                  <input type="text"
               placeholder="Datepicker"
               class="form-control"
               bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY'}" formControlName="PossessionOn">
                </div>

                <div class="form-group col-12">
                  <p>Age of Property</p>
                  <div class="btn-group" btnRadioGroup>
                    <!-- <label for="" class="btn btn-outline-primary mr-2" btnRadio=1 role="button" name="AOP" tabindex="0">Yes</label>
                    <label for="" class="btn btn-outline-primary" btnRadio=2 role="button" name="AOP" tabindex="0">No</label> -->
                    <input type="text" class="form-control" formControlName="AOP">
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup formControlName="Gated">
                    <label for="" class="btn btn-outline-primary mr-2" btnRadio=1 role="button" name="GC" tabindex="0">Yes</label>
                    <label for="" class="btn btn-outline-primary" btnRadio=2 role="button" name="GC" tabindex="0">No</label>
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Main Entrance</p>
                  <div class="btn-group" btnRadioGroup formControlName="MainEntrance">
                    <label *ngFor="let mainentrnc of mainEntrance" class="btn btn-outline-primary mr-2" [btnRadio] = "mainentrnc" role="button" tabindex="0">
                      {{mainentrnc}}</label>

                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea type="text" class="form-control" rows="6" formControlName="Description"></textarea>
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(4, BasicInfo.valid)">Next</button>

                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(2, BasicInfo.valid)">Back</button>
                </div>
              </tab>

              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br>
                    This is under construction
                  </div>
                </div>
                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary btn-block" (click)="selectTab(3, BasicInfo.valid)">Back</button>

                  <button type="reset" class="btn btn-primary btn-block">Cancel</button>
                  <button type="submit" class="btn btn-primary btn-block">Save</button>
                </div>
              </tab>
            </tabset>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header">
    <h3>Your Property Preview</h3>
    </div>
    <div class="shadow-lg p-3 bg-white">
      <app-property-card [property] ="propertyView" hideIcons="true"></app-property-card>
    </div>

  </div>

</div>
